:root{
    --main-color:blue;
    --second-color:rgb(1, 1, 17);
    --thrid-color:rgb(3, 3, 22);
 }
 
 
 body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 /* li{
     list-style: none;
     
 } */
 
 a{
     text-decoration: none;
 }
 .container0{
     margin: auto;
     width: 90%;
 }
 
 @media (min-width: 768px) {
   .container0 {
       width: 750px;
   }
 }
 
 @media (min-width: 992px) {
   .container0 {
       width: 970px;
   }
 }
 
 
 /* Large */
 @media (min-width: 1200px) {
   .container0 {
       width: 1170px;
   }
 }
 
 
 
 .container0 {
   padding-left: 10px;
   padding-right: 10px;
   margin-left: auto;
   margin-right: auto;
 }
/*  
 header{
 padding: 50px;
 }
 
 
 header ul {
     list-style-type: none;
     display: flex;
     justify-content: flex-end;
     margin: 0;
     padding: 0;
   }
 
   header li {
     margin-left: 10px;
   }
 
   header li:last-child {
     margin-right: 10px;
   }
   header {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 
   header img {
     margin-right: 10px;
   }
 
 
 
     header ul {
       list-style-type: none;
       display: flex;
       justify-content: flex-end;
       margin: 0;
       padding: 0;
     }
 
     header li {
       margin-left: 10px;
     }
     header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 20px;
         overflow: hidden;
       }
       nav{
         display: flex;
         justify-content: space-between;
         align-items: center;
         float: right; 
       }
      nav a{
         margin-left: 10px;
         
      }
      .logo0 {
         float: left; 
       }
       .menu0 .sqr {
         position: relative; 
       }
       
       .menu0 .sqr0::before {
         content: ""; 
         position: absolute; 
         top: -5px;
         right: -5px;
         bottom: -5px;
         left: -5px;
         border: 2px solid rgb(22, 3, 3); 
       } */

       /* الأنماط الافتراضية للهيدر */

       header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .logo0 {
        display: flex;
        align-items: center;
    }
    
    .logo0 img {
        max-width:100%;
        height: auto;
    }
    
    #menu-toggle {
        font-size: 24px;
        cursor: pointer;
        display: none;
    }
    
    .menu0 ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 20px;
        position: absolute;
        top: 70px;
        left: calc(60% + 100px);
        width: 30%;
        padding: 10px ;
    }
    
    .menu0 ul li {
        font-size: 18px;
    }
    
    @media (max-width: 768px) {
        .menu0 ul {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
    
        .menu0 ul.active {
            display: flex;
        }
    
        .menu0 ul li {
            font-size: 20px;
            padding: 10px 20px;
        }
    }
    
       span{
         color: red;
       }
 
 
       /* .services .services-content {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
         grid-gap: 20px;
         margin-top: 100px;
         margin-bottom: -200px;
     }
     
     .services .services-content .srv {
         display: flex;
         margin-bottom: 40px;
     }
     
     @media (max-width: 767px) {
         .services .services-content .srv {
             flex-direction: column;
             text-align: center;
         }
     }
     
     .services .services-content .srv i {
         color: var(--main-color);
         flex-basis: 60px;
     }
     
     .services .services-content .srv .text {
         flex: 1;
     }
     
     .services .services-content .srv .text h3 {
         margin: 0 0 20px;
         color: #038F5C;
     }
     
     .services .services-content .srv .text p {
         color: #2F2D51;
         font-weight: 300;
         line-height: 1.8;
         font-weight: bold;
     }
     
     .services .services-content .srv .text .btn {
         font-size: 15px;
         font-weight: bold;
         padding: 10PX;
         width: 100PX;
         color: #000000;
         background-color: #0F7AD3;
         border: none;
         border-radius: 10px;
         margin-top: 10px;
     }
     
     .services .services-content .srv .text .btn:hover {
         color: #ffffff;
         background-color: #2499ff;
         border: #7cbff7;
     
     }
     
     .services .services-content .image {
         text-align: center;
         position: relative;
     }
     
     .services .services-content .image img {
         width: 500px;
         height: 450px;
         border-radius: 15px;
         margin-left: 599px;
         margin-top: -360px;
     } */
     
     .read-more-button0{
       background-color: white;
       padding: 10px;
       color: #066585;
       font-weight: bold;
       box-shadow: none;
       border: none;
       font-size: 15px;
   
   
   }    
 
 section {
   display: flex;
   align-items: center;
 }
 
 /* .img20{
   flex-shrink: 0;
   margin-right: 10px; 
   padding: 10px;
   float: left;
 } */
 
 /* .text0 {
   text-align: left;
   float: right; 
   margin-top: 200px;
 } 
 
 .container0 {
   position: relative;
   display: flex;
 
 }
 
 .img20,
 .text0{
   flex-basis: 50%;
   position: relative;
 } */
 .container01 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  
}


.img20 {
  flex-shrink: 0;
  max-width: 50%;
  height: auto;
  margin-left: 20px;
  padding: 10px;
}

.text0 {
  text-align: left;
  width: 100%;
  padding: 20px;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;

  }

  .img20 {
    margin-left: 0;
    margin-top: 20px;
  }

  .text0 {
    width: 50%;
    padding: 20px 0;
    text-align: center;
  }
}


 .container0 {
   position: relative;
   text-align: center;
 }
 *{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
 }
 .s10{
   display: flex;
   justify-content: center;
 }
 .container20{
   position: relative;
   width: 1600px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 30px;
   margin-top: 10px;
   margin: auto;
 }
 .container20 .card0{
   width: 308px;
   position: relative;
   height: 400px;
   margin: 30*px 10px;
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
  /* box-shadow: 0.5px 10px;
  margin-top: 5%;
  flex-basis: 30%; */
 
 }


.navbar20 li {
  flex: 1;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar20 {
      flex-direction: column;
      align-items: center;
  }

  .navbar20 li {
      padding: 8px;
  }
}
.navbar20 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  /* background-color: #333; */
  color: #fff;
  font-size: 16px;
}

@media (max-width: 767px) {
  .special-heading {
      font-size: 60px;
  }

  .special-heading+p {
      margin-top: -20px;
  }
}

 
 .navbar20{
   width: 100%;
 }
 
 /* .a1{
   list-style-type: none;
 } */
 /* يمكنكul li::before {
   content: "•";
   color: red;  تغيير لون النقطة هنا 
   margin-right: 5px; تحديد المسافة بين النقطة ونص العنصر 
 }
 */
 .stratigies10{
   width: 100px;
   height: 100px;
   border-radius: 100%;
   background-color: rgb(221, 221, 239);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   color: blue;
 }
 
 hr {
   display: flex;
   border: none;
   height: 2px;
   width: 200px;
   background-color: blue; 
 
 }
 #STRATEGY20{
 margin-top: 150px;
 }
 .stratigies20{
   width: 100px;
   height: 100px;
   border-radius: 100%;
   background-color: rgb(252, 240, 224);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   color: burlywood;
 }
 .stratigies30{
   width: 100px;
   height: 100px;
   border-radius: 100%;
   background-color: rgb(210, 237, 202);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   color: rgb(25, 160, 12);
 }
 .stratigies40{
   width: 100px;
   height: 100px;
   border-radius: 100%;
   background-color: rgb(235, 216, 199);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   color:  rgb(178, 100, 33);
 }
 /* .container3{
   position: relative;
   width: 1600px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 30px;
   margin-top: 10px;
   margin: auto;
 }
 .container3 .card{
   width: 450px;
   position: relative;
   height: 200px;
   margin: 30*px 10px;
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
 }
 .tabs {
   display: flex;
   justify-content: center;
   gap: 0.7rem;
   margin: 1.5rem 0;
 }
  */
 /* .tabs>div {
   height: 5px;
   width: 45px;
   border-radius: 7px;
   background-color: blue;
   cursor: pointer;
 }.tabs {
   display: flex;
   justify-content: center;
   gap: 0.7rem;
   margin: 1.5rem 0;
 }
 
 .tabs>div {
   height: 5px;
   width: 45px;
   border-radius:10px;
   background-color:blue;
   cursor: pointer;
 }
  */
 
 .container0 .accordions0 {
   background-color: #f7f7f7;
   display: grid;
   grid-template-columns: 0.8fr 0.8fr;
   width: 85%;
   margin: 1rem auto;
   gap: 1rem;
   padding: 3.5rem 1.5rem;
   border-radius: 20px;
 }
 
 .container0 .accordion0 {
   background-color: #ffffff;
   padding: 1.7rem 1rem;
   border-radius: 20px;
   transition: all 0.2s ease;
 }
 
 .container0 .accordion0 .header0 {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .container0.content0 {
   display: block;
   transition: all 0.2s ease;
 }
 
 .container0 .content0.show {
   display: block;
 }
 
 .container0 .accordion0 p {
   display: grid;
   place-items: center;
   padding: 0.5rem;
   background-color: #F7F7FF;
   border-radius: 20px;
   transition: all 0.2s ease;
   cursor: pointer;
   margin: 0.8rem 0;
 }
 
 .container0 .accordion0 p:hover {
   background-color: #f8f7fd;
   color: #F7F7FF;
 }
 
 .container0 .accordion0 span {
   display: none;
 }
 .container0 {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
 }
 

 
 
 /* .portfolio2 {
   padding-top: 90px;
   padding-bottom: 60px;
 } */
 
 /* .special-heading2 {
   color: #0F7AD3;
   font-size: 40px;
   text-align: center;
   font-weight: bold;
   letter-spacing: -3px;
   margin: 0;
 }
 
 .special-heading2+p {
   margin: 10px 0 0;
   font-size: 20px;
   text-align: center;
   color: #000000;
 }
 
 @media (max-width: 767px) {
   .special-heading2 {
       font-size: 60px;
   }
 
   .special-heading2+p {
       margin-top: -20px;
   }
 }
  */
 .swiper-slide {
   width: auto;
   flex-shrink: 0;
   display: block;
   height: 100%;
   max-height: 100%;
 }
 
 .swiper-wrapper {
   max-height: 100%;
   height: 100%;
   width: 100vw;
   display: flex;
   padding-bottom: 50px;
 }
 
 /* footer */
 .footer {
   background-image: linear-gradient(45deg, lightgreen 5%, #0F7AD3 95%);
   padding: 1rem 2rem;
 }
 
 .footer-container {
   width: 95%;
   color: white;
   margin: 0.5rem auto;
   display: flex;
   flex-direction: column;
   gap: 2rem;
 }
 
 .footer .top-part {
   display: flex;
   align-items: center;
   justify-content: end;
   gap: 3rem;
 }
 
 .footer .ready-started {
   white-space: nowrap;
 }
 
 .footer .middle-part {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(190px, 240px));
   gap: 2rem;
 }
 
 .middle-flex {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   gap: 0.7rem;
 }
 
 .footer-input {
   display: flex;
   width: 100%;
 }
 
 .footer-input input {
   border: none;
   outline: none;
   border-bottom: 1px solid #ffffff73;
   background: transparent;
   color: white;
 }
 
 .footer-input input::placeholder {
   color: white;
 }
 
 .footer-input-icon {
   padding: 0.6rem 1rem;
   text-align: center;
   background-color: white;
   border-top-right-radius:7px;
   border-top-left-radius: 7px ;
 }
 
 .footer-input-icon i {
   color: #0F7AD3;
   font-size: 14px;
 }
 .contact-widgett {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   white-space: nowrap;
   margin: 0.7rem 0;
   width: 80%;
 }
 
 .footer .lower-part {
   display: flex;
   justify-content: space-between;
   width: 100%;
 }
 
 .lower-part .flex-footer {
   display: flex;
   gap: 3rem;
 }
 
 .footer ul li {
   margin: 0.5rem 0;
 }
 
 .footer-btn {
   background-color: white;
   color: #0F7AD3;
   padding: 0.7rem 1.2rem;
   display: block;
   width: fit-content;
   border: none;
   border-radius: 7px;
   font-weight: bold;
   transition: all 0.3s ease;
 }
 
 .footer-btn:hover {
   color: white;
   background-color: #0F7AD3;
   border: 1px solid white;
   cursor: pointer;
 }
 
 .footer-icons {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 1.5rem;
 }
 
 
 

 

 